body {
    margin: 0;
    background-color: #f9f9f9;
}

h1 {
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Serif SC', serif;
    font-size: 2.5em;
    letter-spacing: 0.5ch;
    font-weight: bold;
    color: black;
}

p {
    text-align: center;
    font-family: 'Roboto Mono', 'Noto Sans SC', monospace, sans-serif;
    color: black;
}

.footer {
    color: gray;
}

.noscript-field {
    position: fixed;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
}

.noscript-warn {
    font-family: 'Roboto Mono', 'Noto Serif SC', monospace, serif;
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle;
    color: black;
}

.main {
    display: grid;
    margin: 0 auto;
    width: min(1000px, 80%);
}

.maininput {
    width: auto;
    height: 200px;
    border-radius: 10px;
    resize: none;
    font-family: 'Roboto Mono', 'Noto Serif SC', monospace, serif;
    font-size: 1.125em;
    color: black;
    background-color: #e0e0e0;
    border-color: #c6c6c6;
}

.buttons {
    display: inline-block;
    margin: 20px auto;
    width: 100%;
}

button {
    padding: 3px 8px;
    border-radius: 5px;
    font-family: 'Noto Serif SC', serif;
    font-size: 1.125em;
    color: black;
    background-color: #c6c6c6;
    border-color: #adadad;
}

.encode {
    margin-left: 15%;
    color: white;
    background-color: black;
    border-color: #333333;
}

.decode {
    float: right;
    margin-right: 15%;
    color: black;
    background-color: white;
    border-color: #cccccc;
}

@media (prefers-color-scheme: dark) {
    body { background-color: #22272c; }
    h1 { color: white; }
    p { color: lightgray; }
    .footer { color: gray; }
    .noscript-warn { color: white; }
    .maininput { color: white; background-color: #2d343a; border-color: #505050; }
    button { color: white; background-color: #4e5b65; border-color: #647582; }
}